nav {
    margin: 0;
    background-color: whitesmoke;
    opacity: 1;
    color: cadetblue;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3vh;
}

.nav-img{
    height:70%;
    padding: .5em;
}

#logout{
    margin: 2vh;
    padding: .5em;
    height: 50%;
    font-size: 2vh
}