body{
  background-image: url('./Assets/sunset.jpg');
  background-size: cover;
}

.sidebar {
  display: flex;
  background-color: whitesmoke; 
  margin: 15px auto;
  height: 60vh;
}

ul {
  list-style: none;
}

/* Sidebar */

.sidebar-list a{
  color: cadetblue;
  padding: 10px;
  margin: 10px auto;
  text-decoration: none;
}


