body{
  background-image: url('./Assets/sunset.jpg');
  background-size: cover;
}

.sidebar {
  display: flex;
  background: linear-gradient(to bottom, white, #e1e6e2); 
  margin: 15px auto;
  height: 50vh;
}

ul {
  list-style: none;
}

/* Sidebar */

.sidebar-list a{
  color: cadetblue;
  padding: 10px;
  margin: 10px auto;
  text-decoration: none;
}


